import os
from os.path import dirname

DISCORD_TOKEN='<token>'

CHANNELS={
    "server name--jeden kanál": ["server-name--výstupní-kanál"],
    "server name--druhej kanál": ["server-name--výstupní-kanál"],
    "server name--třetí kanál": ["server-name--jeden-výstupní-kanál", "server-name--druhej-výstupní-kanál"],
}

STATE_DIRECTORY = os.path.join(dirname(__file__), "state")

ATTACHMENTS_DIRECTORY = os.path.join(dirname(__file__), "out", "attachments")

# Temp directory needs to be on the same drive as ATTACHMENTS_DIRECTORY.
TEMP_DIRECTORY = os.path.join(dirname(__file__), "out", "tmp")

URLS_FILE = os.path.join(dirname(__file__), "out", "urls.txt")

IGMDB_TOKEN = '…'  # obtain token from https://www.igmdb.org/?page=usercp

IGMDB_POLLING_INTERVAL = 5*60  # seconds

RENDERING_OUTPUT_CHANNEL = 'server name--výstupní kanál'  # or RENDERING_OUTPUT_CHANNEL = ['server name--výstupní kanál1', 'server name--výstupní kanál2']

RENDERING_DONE_MESSAGE_PREFIX = "New render:\n"

RENDERING_DONE_MESSAGE_SUFFIX = "\nRendered by igmdb"

DEMOCLEANER_EXE = os.path.join(dirname(__file__), 'DemoCleaner3.exe')
